body {
  background-color: rgb(176, 176, 240);
}

.main_h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main_h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}

.idea_item {
  border: 2px solid black;
  margin-bottom: 15px;
}
